{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <h1>Games</h1>
  <h2>Search for games</h2>
  <body>
  <form action='/games/search/' method="post">
      {% csrf_token %}
      <label>
        <input type="text" name="country_name" placeholder="Search for countries">
        <input type="text" name="_from" placeholder="Date of start">
        <input type="text" name="to" placeholder="End date">
        <input type="submit" value="Search">
        {{ form }}
      </label>
    </form>
  </body>
{% endblock %}
