{% extends 'base.html' %}
{% block content %}
        <h2 class="form-signin-heading">Bets Page</h2>
    {% for bet in rows %}
      <h5>Match: {{ bet.game }}</h5>
      <h6>User: {{bet.user}}</h6>
      <p>Bet: {{ bet.game_bet }} Amount: {{ bet.amount }}€ + {{ bet.balance }}€ </p>
      <form action="/bets/" method="post">
        <label>
          {% csrf_token %}
          <input name="bet_id_del" value="{{bet.id}}" hidden />
        </label>
      <input type="submit" onclick="return confirm('Are you sure?')" value="Delete"/>
        {{form}}
        </form>
      <br>
    {% endfor %}
{% endblock %}
