{% extends 'base.html' %}
{% block content %}
  <h1>Welcome to your profile</h1>
  <body>
      <form action="/users/profile/insert_cred/" method="post">
        {% csrf_token %}
        <ul>
          <li>
            <label>
              <input type="text" name="insert_credit" placeholder="Insert Credits" /> <input type="Submit" value="Submit">
            </label>
          </li>
          <li>
            <label>
              <input type="text" name="withdraw_credit" placeholder="Withdraw Credits" /> <input type="Submit" value="Submit" >
            </label>
          </li>
        </ul>
{#      </form>#}
{#        <form action="/users/profile/insert_cred/" method="post"></form>#}
{#        {% csrf_token %}#}
{#        <label>#}
{#          {{ form }} <input type="Button" value="Update">#}
{#        </label>#}
{#      </form>#}
{#        {{ form }}#}
{#      </form>#}
  </body>
{% endblock %}
